.wrapper
    width: 1200px
.header

    &_search
        width: 400px
.error
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 0
    background-color: #f3a5a551
    font-size: 14px
    width: 57%
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px

.hide
    display: none

