.btn
    display: block
    margin-top: 15px
    width: 170px
    height: 45px
    cursor: pointer
    &:active
        transform: scale(0.95)
    &_text
        width: 170px
        margin-top: 2px
        background-color: orange
        border: solid black 1px
        font-size: 14px
.violet
    background-color: violet