.App {
    margin: 0 auto;
    width: 1200px;
    /* background-color: floralwhite; */
    /* background-image: url('img/burger_wrap.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}
