.emoji{
    padding: 20px;
}
.emoji div {
    display: flex;
    justify-content: flex-end
}

.emoji li{
    padding: 7px;
    list-style: none;
}

.emoji__count{
    color: #000000be;
    
}

.btn__emoji{
    padding: 5px;
    border: none;
    background-color: #ffffff00;
}